<rx-panel
  *ngIf="canCollaborate && visible"
  [title]="'Room'"
  style="z-index: 9"
  class="room-panel"
  [maxHeight]="312"
  (onClose)="onClose()">
  <div class="room-panel-container">
    <div class="header-section">
      <span *ngIf="!user">Please login first!</span>
      <button *ngIf="user" (click)="updateRoomList()" title="Refresh room list">
        <img src="/assets/images/refresh.svg" alt="" srcset="">
      </button>
      <button *ngIf="user" (click)="createRoom()" title="Create room">
        <img src="/assets/images/tree-unfold.svg" alt="" srcset="">
      </button>
      <button *ngIf="user && isAdmin()" (click)="getAllRooms()" title="Print all existing rooms to console">
        <img src="/assets/images/info-ico.svg" alt="" srcset="">
      </button>
    </div>
    <div class="main-section">
      
      <ul *ngIf="user" class="list">
        <li *ngFor="let room of roomInfoArray" [class]="{'active': isActiveRoom(room.roomId)}">
          <span title="{{getDisplayRoomId(room.roomId)}}">{{getDisplayRoomId(room.roomId) + (isActiveRoom(room.roomId) ? " (Active)" : "")}}</span>
          <div class="button-group">
            <button *ngIf="user && !isActiveRoom(room.roomId)" (click)="joinRoom(room.roomId)" class="btn" title="Join room">
              <img src="/assets/images/join-room.svg" alt="" srcset="">
            </button>
            <button *ngIf="user && isActiveRoom(room.roomId)" (click)="leaveRoom()" class="btn" title="Leave room">
              <img src="/assets/images/leave-room.svg" alt="" srcset="">
            </button>
            <button *ngIf="user && isAdmin() && hasMarkupForRoom(room.roomId)" (click)="deleteMarkupsForRoom(room.roomId)" class="btn" title="Delete markups for room">
              <img src="/assets/images/clean-room.svg" alt="" srcset="">
            </button>
            <button *ngIf="user && isAdmin() && !isDefaultRoom(room.roomId)" (click)="deleteRoom(room.roomId)" class="btn" title="Delete room">
              <img src="/assets/images/trash-ico.svg" alt="" srcset="">
            </button>
          </div>
        </li>
      </ul>
      <div *ngIf="user">
        <p>
          <span title="{{activeRoomId ? getDisplayRoomId(activeRoomId) : 'Need to join a room to see participants'}}">
            Participants ({{ participants.length }})
          </span>
        </p>
        <ul class="list">
          <li *ngFor="let participant of participants">
            <span title="{{ participant.username }} ({{ participant.socketId }})">{{ participant.displayName }}</span>
            <span *ngIf="socketId && participant.socketId == socketId"> (You)</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</rx-panel>
